html {
    background-color: rgb(255, 238, 241);
}

body {
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

#mapid { 
    height: 480px; 
}

.list-header {
    font-weight: 600;
    font-size: 1.25ren;
}

.list-item {
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #62ffc3, #43e7be);;
    padding: 5px;
}