.game-container {
    width: 500px;
    height: 730px;
    position: absolute; /*whatever parent div it's in, it'll be positioned based on parent''s dims*/
}

.sky {
    background-color: lightskyblue;
    width: 500px;
    height: 500px;
    position: absolute;
}

.ground {
    background: brown;
    width: 500px;
    height: 150px;
    position: absolute;
}